body
{
    padding: 0px;
    margin: 0px;
    background-color: grey;
    width: 100%;    
} 

.mainCard
{
    display: flex;
    flex-direction: row;
}

.card1
{   
    border: 2px solid black;
    padding: 2%;
    margin: 1%;
    text-align: center;
    width: 30%;    
}


.card2
{   
    border: 2px solid black;
    padding: 2%;
    margin: 1%;
    width: 70%;
}

table
{
    border: 2px solid black;
    width:100%;
    text-align: center;
}

img
{
    border-radius: 20%;
    width: 100%;
}


@media (max-width:1024px) 
{
    body
    {
        padding: 0px;
        margin: 0px;
        background-color: gray;
    } 
    
    .mainCard
    {
        display: flex;
        flex-direction: column;
    }
    
    .card1
    {   
        border: 2px solid black;
        padding: 2%;
        margin: 5%;
        text-align: center;
        height: 30%; 
        margin-left: auto;
        margin-right: auto; 
        width: 90%;
    }
    
    
    .card2
    {   
        border: 2px solid black;
        padding: 2%;
        margin: 2%;
        height: 70%;
        width: 90%;
    }
    
    table
    {
        border: 2px solid black;
        width:100%;
        text-align: center;
    }
    
    img
    {
        border-radius: 20%;
        width: 50%;
    }
}



